<h2 mat-dialog-title>Terms and conditions</h2>
<mat-dialog-content class="mat-typography">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quod dolor tenetur repellendus ullam quaerat quibusdam provident sit qui culpa eaque, laudantium sint porro quisquam doloremque consequuntur nulla quis veritatis!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Disagree</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Agree</button>
</mat-dialog-actions>
