@import 'ngx-toastr/toastr';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p{
  margin: 0;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-paginator {
  background-color: transparent;
}
